.apply__program {
    position: absolute;
    width: 600px;
    left: 0;
    right: 0;
    margin: 40px auto;
}
.apply__table {
    background: #fff;
    margin: 100px auto;
    width: 660px;
}
.apply__title {
    font-size: 20px;
    margin: 0 0 0 20px;
    padding: 10px 0;
}
.apply__line {
    width: 100%;
    height: 2px;
    background: #2aabd2;
}
.apply__item {
    padding: 20px 40px;
}
.apply__item__title {
    color: #2aabd2;
    font-size: 18px;
    margin: 0;
}
.apply__notice {
    float: left;
    width: 170px;
    padding: 20px;
    color: #555;
    margin: 100px 0 100px 200px;
    background: #f6f6f6;
    border: 1px solid #2aabd2;
    border-radius: 5px;
    font-size: 12px;
    line-height: 18px;
}
.apply__notice p {
    margin-bottom: 20px;
}

.apply__upload {
    background: #fff;
    margin: 100px 450px;
    width: 660px;
}
.apply__file {
    padding: 40px 40px 60px 40px;
    background: #f6f6f6;
    margin: 20px 0;
    color: #555;
}
.apply__file p {
    width: 250px;
}
.apply__file__title {
    font-weight: bold;
}
.apply__file__wrap {
    position: relative;
    margin-left: 300px;
    margin-top: -70px;
    width: 78px;
    height: 78px;
    background: url('../images/file.png');
    cursor: pointer;
}
.apply__file__wrap input {
    position: absolute;
    cursor: pointer;
    width: 78px;
    height: 78px;
    left: 0;
    top: 0;
    opacity: 0;
}
.apply__pay {
    background: #fff;
    margin: 100px auto 10px;
    width: 880px;
}
.apply__pay .apply__pay__table tr {
    height: 50px;
    line-height: 50px;
}
.apply__pay__total {
    text-align: right;
    background: #fff;
    margin: 0 auto 20px;
    padding: 10px 20px;
    width: 880px;
}
.apply__pay__confirm {
    margin: 0 auto 120px;
    width: 880px;
    text-align: right;
}
.apply__status,
.apply__old {
    width: 880px;
    margin: 50px auto 60px;
    color: #37363e;
}
.apply__status__table {
    margin: 20px 0;
}
.apply__status__table tr:nth-child(1) {
    height: 50px;
    line-height: 50px;
    background: #2aabd2;
    border-radius: 5px;
    border: 1px solid #2aabd2;
    color: #fff;
}
.apply__status__table tr:nth-child(1):hover {
    background: #2aabd2;
}
.apply__status__table tr:nth-child(1) th {
    padding: 20px 20px;
}
.apply__status__table tr:nth-child(2) {
    background: #fff;
    height: 200px;
}
.apply__status__table tr:nth-child(2) td {
    padding: 50px 20px;
}
.apply__old .apply__status__table tr {
    background: #fff;
    height: 40px;
}
.apply__old .apply__status__table tr td {
    padding: 10px;
}
.apply__old .apply__status__table tr:nth-child(1) {
    height: 50px;
    line-height: 50px;
    background: #aaa;
    border-radius: 5px;
    color: #fff;
}

.apply__status__status {
    position: relative;
    display: inline-block;
    height: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
}
.apply__status__line {
    position: absolute;
    top: 21px;
    width: 450px;
    height: 2px;
    background: #999;
}
.apply__status__line-active {
    position: absolute;
    top: 21px;
    width: 120px;
    height: 2px;
    background: #2aabd2;
}
.apply__status__circle {
    display: inline-block;
    border-radius: 5px;
    margin-right: 100px;
}
.apply__status__circle-active {
    width: 10px;
    height: 10px;
    border: 1px solid #2aabd2;
    animation: circle 0.7s infinite;
}
@keyframes circle {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.8); opacity: 0.3; }
    100% { transform: scale(1); opacity: 1;}
}
.apply__status__dot {
    position: absolute;
    top: 17px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #999;
}
.apply__status__dot-active {
    background: #2aabd2;
}
.apply__status__description {
    position: absolute;
    bottom: -10px;
    margin-left: -22px;
    display: inline-block;
    font-size: 14px;
    color: #666;
}
.apply__status__fail-1 {
    position: absolute;
    font-size: 30px;
    left: 170px;
    top: 3px;
    color: red;
}
.apply__status__fail-2 {
    position: absolute;
    font-size: 30px;
    left: 410px;
    top: 3px;
    color: red;
}

