.user__title {
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 20px;
}
.user__title-create {
    display: inline-block;
    padding-bottom: 5px;
}
.user__title-create, .user__list-handle {
    color: #c7254e;
}
.user__list-handle {
    display: inline-block;
    background: #ccc;
    margin-right: 15px;
}
.user__title-create:hover, .user__list-handle:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    transition: all 1s;
}
.user__list .table tbody tr th,
.user__list .table tbody tr td {
    border-top: 0;
    padding-bottom: 5px;
}
.pagination {
    position: absolute;
    bottom: 0;
    right: 200px;
}

.user__list .pagination .active span {
    background: #c7254e;
    border: 1px solid #c7254e;
}
.user__list .pagination .active span:hover {
    background: #999;
    transition: all 1s;
    border: 1px solid #999;
}

.w-e-text-container {
    background: #ccc;
    color: #000;
}